<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Hello World! </title>
</head>
<body>
<center>
<h2>This Message is shown from</h2> <h1>{{ ansible_hostname }}</h1> <h2>that is running flask on port</h2> <h1>{{ flask_1_port }}</h1>
</center>
</body>
</html>